main.default-page(
	cubScrollBar,
	suppressX)
	nav.nav-bar.visible
		.background--empty
		.nav-bar__content.nav-bar__content--mobile.ui-grid
			.left
				a(href='index.htm')
					.nbc__logo
						img.logo-desktop(src='/assets/customs/img/nav-bar/logo.svg' alt='INVO Technologies')
			.right
				.buttons-container
					.button-container
						a(href='https://platform.invo.academy/sign-up')
							button.button.button--round-border.button--main-blue-btn(style='white-space: nowrap')
								| Sign up
				.nvc__right
					.toggle-roadbar
						a.toggle-roadbar__hamburger__container
							.toggle-roadbar__hamburger
		.nav-bar__content.ui-grid
			.left
				a(href='index.htm')
					.nbc__logo
						img.logo-desktop(src='/assets/customs/img/nav-bar/logo.svg' alt='INVO Technologies')
			.right.right--center
				ul.nvc__left
					li
						a(href='index.htm')
							p Academy
							a.dropdown-reveal
								img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
								img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
								img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
					li.no-dropdown
						a(href='learning-paths/index.htm')
							p Learning Paths
					li.no-dropdown
						a(href='https://platform.invo.academy/challenges')
							p Training Projects
					li.no-dropdown
						a(href='pricing/index.htm')
							p Pricing
					li.no-dropdown
						a(href='community/index.htm')
							p Community
					li
						a(target='_blank' href='')
							p About us
							a.dropdown-reveal
								img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
								img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
								img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
					li.no-dropdown
						a(href='https://intercom.help/invo-academy/pl/')
							p FAQ
			.right
				.nvc__right
					.button-container
						a(href='https://platform.invo.academy/sign-up')
							button.button.button--round-border.button--main-blue-btn(style='white-space: nowrap')
								| Sign up
		.submenus-container
			.submenus
				.submenu-container
					.submenu
						.all-services
							h3.page-section-description--smaller
								| Boost your Front-end skills
								br
								|  with INVO Academy
							p
								| Learn by coding projects that you&apos;ll &ndash;
								br
								|  stumble upon in your future career.
						.submenu__column
							a(href='index.htm#three-pillars')
								.icon-container
									img.cat-icon.icon-container__non-active(src='/assets/customs/img/nav-bar/platforma-1-active.svg')
									img.cat-icon.icon-container__active(src='/assets/customs/img/nav-bar/platforma-1.svg')
								.internal-container
									p.list-item-content How does it work?
									p.submenu__column__desc Discover the front-end academy
								img(src='/assets/customs/img/nav-bar/arrow-white.svg')
							a(href='index.htm#real-projects')
								.icon-container
									img.cat-icon.icon-container__non-active(src='/assets/customs/img/nav-bar/platforma-2-active.svg')
									img.cat-icon.icon-container__active(src='/assets/customs/img/nav-bar/platforma-2.svg')
								.internal-container
									p.list-item-content Start coding projects
									p.submenu__column__desc Make the practice speak for itself
								img(src='/assets/customs/img/nav-bar/arrow-white.svg')
							a(href='index.htm#code-review')
								.icon-container
									img.cat-icon.icon-container__non-active(src='/assets/customs/img/nav-bar/platforma-3-active.svg')
									img.cat-icon.icon-container__active(src='/assets/customs/img/nav-bar/platforma-3.svg')
								.internal-container
									p.list-item-content Get code review
									p.submenu__column__desc Mentors will analize your mistakes
								img(src='/assets/customs/img/nav-bar/arrow-white.svg')
							a(href='index.htm#practical-experience')
								.icon-container
									img.cat-icon.icon-container__non-active(src='/assets/customs/img/nav-bar/platforma-4-active.svg')
									img.cat-icon.icon-container__active(src='/assets/customs/img/nav-bar/platforma-4.svg')
								.internal-container
									p.list-item-content Build a portfolio
									p.submenu__column__desc Show your experience
								img(src='/assets/customs/img/nav-bar/arrow-white.svg')
						.rounded-container.rounded-container--text.NavOpinion
							.swiper-wrapper
								.opinion.swiper-slide
									div
										img.img-stars(src='/assets/customs/img/nav-bar/stars.svg')
										p.opinion-content
											| &quot;Coding real projects under the supervision of advanced programmers
											| it&apos;s the best learning, method imaginable.&quot;
									.opinion-data
										picture
											source(srcset='/assets/customs/img/nav-bar/user1.jpg?v=2' type='image/png')
											source(srcset='https://invo.academy//assets/customs/img/nav-bar/user1.wepb' type='image/webp')
											img(src='/assets/customs/img/nav-bar/user1.jpg?v=2' alt='Koduj prawdziwe projekty')
										.opinion-user
											h4 Grzegorz  Kawecki
											p 3-month graduate
											p INVO Tech Camp
								.opinion.swiper-slide
									div
										img.img-stars(src='/assets/customs/img/nav-bar/stars.svg')
										p.opinion-content
											| &quot;The approach in INVO is simple. Code real projects, check other people&apos;s code,
											| to understand it and stay in touch with more experienced programmers.&quot;
									.opinion-data
										picture
											source(srcset='/assets/customs/img/nav-bar/user2.jpg?v=2' type='image/png')
											source(srcset='https://invo.academy//assets/customs/img/nav-bar/user2.wepb' type='image/webp')
											img(src='/assets/customs/img/nav-bar/user2.jpg?v=2' alt='Koduj prawdziwe projekty')
										.opinion-user
											h4 Dawid Bro&zacute;
											p 3-month graduate
											p INVO Tech Camp
								.opinion.swiper-slide
									div
										img.img-stars(src='/assets/customs/img/nav-bar/stars.svg')
										p.opinion-content
											| &quot;The learning process was to simulate working in a real project. We learned the correct methods, formulations, structures, design patterns and practices for HTML/CSS and JS.&quot;
									.opinion-data
										picture
											source(srcset='/assets/customs/img/nav-bar/user3.jpg?v=2' type='image/png')
											source(srcset='https://invo.academy//assets/customs/img/nav-bar/user3.wepb' type='image/webp')
											img(src='/assets/customs/img/nav-bar/user3.jpg?v=2' alt='Koduj prawdziwe projekty')
										.opinion-user
											h4 Patryk Sok&oacute;&lstrok;
											p 3-month graduate
											p INVO Tech Camp
							.toggle-opinion
								button.button-transparent.swiper-button-prev.rotate-left
									img(src='/assets/customs/img/nav-bar/toggle-right.svg')
								button.button-transparent.swiper-button-next
									img(src='/assets/customs/img/nav-bar/toggle-right.svg')
					.submenu
						.all-services
							h3.page-section-description--smaller
								| We are an experienced
								br
								|                         software agency
							p
								| Our unique expertise has been
								br
								|  transformed into a set of good practices
								br
								|                         that we can share with you now.
						.submenu__column
							a(href='https://classy-hedgehog-bb8.notion.site/Misja-INVO-Academy-3f418dde60ce4442acb96645881daee4' target='_blank')
								.icon-container
									img.cat-icon.icon-container__non-active(src='/assets/customs/img/nav-bar/platforma-1-active.svg')
									img.cat-icon.icon-container__active(src='/assets/customs/img/nav-bar/platforma-1.svg')
								.internal-container
									p.list-item-content Our Mission
									p.submenu__column__desc The origins of INVO Academy
								img(src='/assets/customs/img/nav-bar/arrow-white.svg')
							a(href='contact/index.htm')
								.icon-container
									img.cat-icon.icon-container__non-active(src='/assets/customs/img/nav-bar/platforma-5-active.svg')
									img.cat-icon.icon-container__active(src='/assets/customs/img/nav-bar/platforma-5.svg')
								.internal-container
									p.list-item-content Contact
									p.submenu__column__desc Any questions? Write to us!
								img(src='/assets/customs/img/nav-bar/arrow-white.svg')
							a(href='https://www.invotech.co/careers' target='_blank')
								.icon-container
									img.cat-icon.icon-container__non-active(src='/assets/customs/img/nav-bar/platforma-6-active.svg')
									img.cat-icon.icon-container__active(src='/assets/customs/img/nav-bar/platforma-6.svg')
								.internal-container
									p.list-item-content Job Offers
									p.submenu__column__desc Check out current vacancies.
								img(src='/assets/customs/img/nav-bar/arrow-white.svg')
						a.rounded-container.rounded-container--image(href='https://www.invotech.co' target='_blank')
							picture
								source(srcset='/assets/customs/img/nav-bar/team.webp?v=2' type='image/webp')
								source(srcset='/assets/customs/img/nav-bar/team.jpg?v=2' type='image/jpg')
								img.team(src='/assets/customs/img/nav-bar/team.jpg?v=2' alt='Koduj prawdziwe projekty')
							.gradient
							.rounded-container--image__text
								h3 INVO Technologies
								p
									| Check our website
									br
									|  and get to know INVO.
							img.arrow-right(src='/assets/customs/img/nav-bar/arrow-right-big.svg')
		.mobile-menu.mobile-menu--white-bg
			ul.nvc__left
				li#howIt.dropdown-container
					.link-and-dropdown
						a
							| Academy
						a.dropdown-reveal-nav
							img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
					.submenu-container.submenu-container-mobile
						.inner-padding
							.all-services
								h3.page-section-description--smaller
									| Boost your Front-end skills
									br
									|  with INVO Academy
								p
									| Learn by coding projects that you&apos;ll stumble upon in your future career.
							.submenu
								.submenu__column
									a.link-mobile-submenu(href='index.htm#three-pillars')
										img.cat-icon(src='/assets/customs/img/nav-bar/platforma-1.svg')
										.internal-container
											p.list-item-content How does it work?
											p.submenu__column__desc Discover the front-end academy
										img(src='/assets/customs/img/nav-bar/arrow-white.svg')
									a.link-mobile-submenu(href='index.htm#real-projects')
										img.cat-icon(src='/assets/customs/img/nav-bar/platforma-2.svg')
										.internal-container
											p.list-item-content Start coding projects
											p.submenu__column__desc Make the practice speak for itself
										img(src='/assets/customs/img/nav-bar/arrow-white.svg')
									a.link-mobile-submenu(href='index.htm#code-review')
										img.cat-icon(src='/assets/customs/img/nav-bar/platforma-3.svg')
										.internal-container
											p.list-item-content Get code review
											p.submenu__column__desc Mentors will analize your mistakes
										img(src='/assets/customs/img/nav-bar/arrow-white.svg')
									a.link-mobile-submenu(href='index.htm#practical-experience')
										img.cat-icon(src='/assets/customs/img/nav-bar/platforma-4.svg')
										.internal-container
											p.list-item-content Build a portfolio
											p.submenu__column__desc Show your experience
										img(src='/assets/customs/img/nav-bar/arrow-white.svg')
				li
					.link-and-dropdown
						a(href='learning-paths/index.htm')
							| Learning Paths
				li
					.link-and-dropdown
						a(href='https://platform.invo.academy/challenges')
							| Training Projects
				li
					.link-and-dropdown
						a(href='pricing/index.htm')
							| Pricing
				li
					.link-and-dropdown
						a(href='community/index.htm')
							| Community
				li.dropdown-container
					.link-and-dropdown
						a(target='_blank')
							| About us
						a.dropdown-reveal-nav
							img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
					.submenu-container.submenu-container-mobile
						.inner-padding
							.all-services
								h3.page-section-description--smaller
									| We are an experienced
									br
									|                         software agency
								p
									| Our unique expertise has been transformed into a set of good practices,
									| that we can share with you now.
							.submenu
								.submenu__column
									a.link-mobile-submenu(href='https://classy-hedgehog-bb8.notion.site/Misja-INVO-Academy-3f418dde60ce4442acb96645881daee4' target='_blank')
										img.cat-icon(src='/assets/customs/img/nav-bar/platforma-1.svg')
										.internal-container
											p.list-item-content Our Mission
											p.submenu__column__desc The origins of INVO Academy
										img(src='/assets/customs/img/nav-bar/arrow-white.svg')
									a.link-mobile-submenu(href='contact/index.htm')
										img.cat-icon(src='/assets/customs/img/nav-bar/platforma-5.svg')
										.internal-container
											p.list-item-content Contact
											p.submenu__column__desc Any questions? Write to us!
										img(src='/assets/customs/img/nav-bar/arrow-white.svg')
									a.link-mobile-submenu(href='https://www.invotech.co/careers' target='_blank')
										img.cat-icon(src='/assets/customs/img/nav-bar/platforma-6.svg')
										.internal-container
											p.list-item-content Job Offers
											p.submenu__column__desc Check out current vacancies.
										img(src='/assets/customs/img/nav-bar/arrow-white.svg')
							a.rounded-container.rounded-container--image(href='https://www.invotech.co' target='_blank')
								img(src='/assets/customs/img/nav-bar/team.jpg?v=2')
								.gradient
								.rounded-container--image__text
									h3 INVO Technologies
									p
										| Check our website
										br
										| and get to know INVO.
								img.arrow-right(src='/assets/customs/img/nav-bar/arrow-right-big.svg')
				li
					.link-and-dropdown
						a(href='https://intercom.help/invo-academy/pl/')
							| FAQ
				li.white-link
					a.contact(href='https://platform.invo.academy/sign-up')
						| Sign up
	section.main-header
		.text-container
			h1.colorful-title
				| H&#x1ECD;c Frontend
				br
				|             v&agrave; x&acirc;y d&#x1EF1;ng
				br
				span portfolio
				|  &dstrok;&#x1ED9;c &dstrok;&aacute;o
			p
				| Th&agrave;nh th&#x1EA1;o ngh&#x1EC7; thu&#x1EAD;t Ph&aacute;t tri&#x1EC3;n Frontend v&#x1EDB;i ch&#x1B0;&#x1A1;ng tr&igrave;nh h&#x1ECD;c t&#x1EAD;p d&#x1EF1;a tr&ecirc;n d&#x1EF1; &aacute;n to&agrave;n di&#x1EC7;n c&#x1EE7;a ch&uacute;ng t&ocirc;i.
			.button-text-container
				a.button-link(href='https://platform.invo.academy/sign-up')
					button.button
						| B&#x1EAF;t &dstrok;&#x1EA7;u MI&#x1EC4;N PH&Iacute;
				.bg
		.content-container
			.img-container
				.bg.bg--1
				.bg.bg--2
				picture
					source(media='(min-width: 801px)' srcset='/assets/customs/img/header/header-1ang.webp?v=2' type='image/webp')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/header/header-mobileEN.webp?v=2' type='image/webp')
					source(media='(min-width: 801px)' srcset='/assets/customs/img/header/header-1ang.png?v=2' type='image/png')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/header/header-mobileEN.png?v=2' type='image/png')
					img.image-background(src='https://invo.academy//assets/customs/img/header/' alt='Koduj prawdziwe projekty')
		.header-bg.img-container
			picture
				source(media='(min-width: 801px)' srcset='/assets/customs/img/header/header-bg.webp?v=2' type='image/webp')
				source(media='(max-width: 800px)' srcset='/assets/customs/img/header/header-bg-mobile.webp?v=2' type='image/webp')
				source(media='(min-width: 801px)' srcset='/assets/customs/img/header/header-bg.png?v=2' type='image/png')
				source(media='(max-width: 800px)' srcset='/assets/customs/img/header/header-bg-mobile.png?v=2' type='image/png')
				img.web(src='/assets/customs/img/header/header-bg.png?v=2' alt='Koduj prawdziwe projekty')
		.net-bg
			img.image-background(src='/assets/customs/img/header/siatka.svg' alt='Koduj prawdziwe projekty')
	section#home-video.video-section
		.video-container.gradient-border
			.buttons
				.buttons-center
					img.play.shown(src='/assets/customs/img/video-section/play.svg' alt='Koduj prawdziwe projekty')
					img.fs-mobile(src='/assets/customs/img/video-section/fs-mobile.svg' alt='Koduj prawdziwe projekty')
				.img-container.img-container--fullscreen
					img.fullscreen(src='/assets/customs/img/video-section/fullscreen.svg')
				.img-container.img-container--toggle-audio
					img.unmute.shown(src='/assets/customs/img/video-section/unmute.svg')
					img.mute(src='/assets/customs/img/video-section/mute.svg')
			video(controls='' autoplay='' muted='true' loop='' playsinline='' poster='/assets/customs/video/home/home.jpg?v=2' src='/assets/customs/video/home/home-6.mp4?v=2' type='video/mp4')
	section.finding-job
		.finding-job__container.flex
			.finding-job__container-title.top-title.flex.finding-job_title-class
				h2
					| Ch&uacute;ng t&ocirc;i bi&#x1EBF;t vi&#x1EC7;c t&igrave;m vi&#x1EC7;c l&agrave;m
					span L&#x1EAD;p tr&igrave;nh vi&ecirc;n Junior
					|  r&#x1EA5;t kh&oacute; kh&abreve;n
				p
					| T&#x1EA1;i INVO Academy, ch&uacute;ng t&ocirc;i cam k&#x1EBF;t ch&#x1EC9; cho b&#x1EA1;n nh&#x1EEF;ng k&#x1EF9; n&abreve;ng c&#x1EA7;n thi&#x1EBF;t &dstrok;&#x1EC3; t&igrave;m &dstrok;&#x1B0;&#x1EE3;c vi&#x1EC7;c l&agrave;m v&#x1EDB;i t&#x1B0; c&aacute;ch l&agrave; L&#x1EAD;p tr&igrave;nh vi&ecirc;n Frontend.
			.colorful-container.finding-job__container-raising-qualifications
				picture
					source(srcset='/assets/customs/img/big-box/background.webp?v=2' type='image/webp')
					source(srcset='/assets/customs/img/big-box/background.png?v=2' type='image/png')
					img.image-background(src='/assets/customs/img/big-box/background.png?v=2' alt='Koduj prawdziwe projekty')
				picture
					source(media='(min-width: 801px)' finding-job_img='' srcset='/assets/customs/img/big-box/statisticAng.webp?v=2' type='image/webp')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/statistic-mobile2Ang.webp?v=2' type='image/webp')
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/statisticAng.png?v=2' type='image/png')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/statistic-mobile2Ang.png?v=2' type='image/png')
					img.main-photos(src='/assets/customs/img/big-box/statisticAng.png?v=2' data-aos='fade-left' data-aos-duration='300' data-aos-delay='250' alt='Koduj prawdziwe projekty')
				.content.big-box-content(data-aos='fade-right' data-aos-duration='300' data-aos-delay='')
					img.img-up.svg-image(src='/assets/customs/img/big-box/turn-up.svg' alt='Koduj prawdziwe projekty')
					h4 Boost your Front-end skills with INVO Academy
					p
						| You&apos;ll learn by coding real projects exactly what you&apos;ll face in your future job.
					a.button.button-black.button-font(href='learning-paths/index.htm')
						| Discover learning paths
			#three-pillars.finding-job__container-pillars-of-academy.flex
				picture.light-effect.gradient-light
					img(src='/assets/customs/img/big-box/gradient-light-min.png?v=2' alt='Koduj prawdziwe projekty')
				h3(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
					| Our four learning pillars
				.container-pillars.eng--change
					.container-pillars__box.card-black.container-pillars__box.flex(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
						.container-pillars__box-left.container-pillars__box-left--left.min-height
							img.svg-image(src='/assets/customs/img/big-box/1.svg' alt='Koduj prawdziwe projekty')
							h4
								| Choose your
								br
								|  learning path
							p
								| We will guide you through the programming learning process. Step by step with our INVO Graph.
							picture
								source(media='(max-width: 1200px)' srcset='/assets/customs/img/finding-job/0-mobile.png?v=2')
								img.image-main(src='/assets/customs/img/finding-job/0.png?v=2' alt='Koduj prawdziwe projekty')
					.container-pillars__box.card-black.flex(data-aos='fade-up' data-aos-duration='300' data-aos-delay='100')
						.container-pillars__box-left.container-pillars__box-left--middle.min-height
							img.svg-image(src='/assets/customs/img/big-box/2.svg' alt='Koduj prawdziwe projekty')
							h4
								| Learn by coding a
								br
								|  real projects
							p
								| Learn programming by solving real coding problems and use our educational materials.
							picture
								source(media='(max-width: 1200px)' srcset='/assets/customs/img/finding-job/1-mobile.png?v=2')
								img.image-main(src='/assets/customs/img/finding-job/1.png?v=2' alt='Koduj prawdziwe projekty')
							picture
								source(media='(max-width: 1200px)' srcset='/assets/customs/img/finding-job/1-2en-mobile.png?v=2')
								img.image-floating(src='/assets/customs/img/finding-job/1-2en.png?v=2' alt='Koduj prawdziwe projekty')
					.container-pillars__box.card-black.flex(data-aos='fade-up' data-aos-duration='300' data-aos-delay='150')
						.container-pillars__box-left.container-pillars__box-left--right.min-height
							img.svg-image(src='/assets/customs/img/big-box/3.svg' alt='Koduj prawdziwe projekty')
							h4
								| Get a Code Review
								br
								|  from mentors
							p
								| Users get Code Review from mentors analyze their mistakes and learn to solve problems.
							picture
								source(media='(max-width: 1200px)' src='/assets/customs/img/finding-job/2-mobile.png?v=2')
								img.image-main(src='/assets/customs/img/finding-job/2.png?v=2' alt='Koduj prawdziwe projekty')
							picture
								source(media='(max-width: 1200px)' src='/assets/customs/img/finding-job/2-2-mobile.png?v=2')
								img.image-floating(src='/assets/customs/img/finding-job/2-2.png?v=2' alt='Koduj prawdziwe projekty')
				.container-pillars__box.card-black.flex.container-pillars__big-box(data-aos='fade-up' data-aos-duration='300' data-aos-delay='150')
					.container-pillars__box-left.container-pillars__box-left--right.min-height
						img.svg-image(src='/assets/customs/img/big-box/3.svg' alt='Koduj prawdziwe projekty')
						h4
							| Build a uniqe portfolio
							br
							|  and land  a great job
						p
							| The portfolio is created automatically from all your coded projects. They can share it recruiters with just one click.
						a.button(href='/assets/customs/img/header-pricing/CV.pdf' target='_blank') See your future resume
						picture
							source(media='(max-width: 1200px)' src='/assets/customs/img/finding-job/big-1-mobile.png?v=3')
							img.image-big-1(src='/assets/customs/img/finding-job/big1.png?v=3' alt='Koduj prawdziwe projekty')
						picture
							source(media='(max-width: 1200px)' src='/assets/customs/img/finding-job/big-2-mobile.png?v=3')
							img.image-big-2(src='/assets/customs/img/finding-job/big2.png?v=3' alt='Koduj prawdziwe projekty')
						picture
							source(src='https://invo.academy//assets/customs/img/finding-job/big-3.png?v=3')
							img.image-big-3(src='/assets/customs/img/finding-job/big3.png?v=3' alt='Koduj prawdziwe projekty')
	section#real-projects.real-projects
		.real-projects__container.real-proj-EN.flex
			.real-projects__container-title.top-title.flex(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
				h2
					| &Dstrok;&acirc;y kh&ocirc;ng ph&#x1EA3;i l&agrave; kh&oacute;a h&#x1ECD;c l&#x1EAD;p tr&igrave;nh th&ocirc;ng th&#x1B0;&#x1EDD;ng.
					br
					|  &Dstrok;&acirc;y l&agrave; n&#x1EC1;n t&#x1EA3;ng &dstrok;&#x1EC3; x&acirc;y d&#x1EF1;ng
					span kinh nghi&#x1EC7;m c&#x1EA7;n thi&#x1EBF;t.
				p
					| Ph&aacute;t tri&#x1EC3;n k&#x1EF9; n&abreve;ng CNTT c&#x1EE7;a b&#x1EA1;n v&#x1EDB;i c&ugrave;ng t&agrave;i li&#x1EC7;u v&agrave; c&ocirc;ng c&#x1EE5; nh&#x1B0; c&aacute;c chuy&ecirc;n gia h&agrave;ng &dstrok;&#x1EA7;u trong l&itilde;nh v&#x1EF1;c. C&oacute; &dstrok;&#x1B0;&#x1EE3;c kinh nghi&#x1EC7;m th&#x1EF1;c t&#x1EBF; trong l&itilde;nh v&#x1EF1;c c&#x1EE7;a b&#x1EA1;n v&#x1EDB;i c&aacute;c ngu&#x1ED3;n t&agrave;i nguy&ecirc;n ch&#x1EA5;t l&#x1B0;&#x1EE3;ng cao.
			.colorful-container.real-projects__container-raising-qualifications
				picture
					source(srcset='/assets/customs/img/big-box/background-two.webp?v=2' type='image/webp')
					source(srcset='/assets/customs/img/big-box/background-two.png?v=2' type='image/png')
					img.image-background(src='/assets/customs/img/big-box/background-two.png?v=2' alt='Koduj prawdziwe projekty')
				picture
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/codweb.webp?v=2' type='image/webp')
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/cod1.png?v=2' type='image/png')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/cod-mobile2.webp?v=2' type='image/webp')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/cod-mobile2.png?v=2' type='image/png')
					img.main-photos(src='/assets/customs/img/big-box/cod1.png?v=2' data-aos='fade-left' data-aos-duration='300' data-aos-delay='100' alt='Koduj prawdziwe projekty')
				.content.big-box-content(data-aos='fade-right' data-aos-duration='300' data-aos-delay='')
					img.img-up.svg-image(src='/assets/customs/img/big-box/four-square.svg' alt='Koduj prawdziwe projekty')
					h4
						| Choose a learning path, start
						br
						|  a project and learn by coding
					p
						| Our engineers have designed for you more than
						| 50 amazing web projects. You can start working
						| on coding your way to being a Web Developer.
					.big-box-content-button-groups
						a.button.button-brown.button-font(href='learning-paths/index.htm') Discover learning paths
						a.button.button-brown.button-font.button--transparent(href='learning-paths/index.htm#learning-video' target='_blank')
							| Watch video
							img.play(src='/assets/customs/img/big-box/play.svg')
			.real-projects__container-information
				.information.information-left.flex
					.information-box.card-black(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
						picture
							source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/contents1.webp?v=2' type='image/webp')
							source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/contents-mobile2.webp?v=2' type='image/webp')
							source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/contents1.png?v=2' type='image/png')
							source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/contents-mobile2.png?v=2' type='image/png')
							img.content-image(src='/assets/customs/img/big-box/contents1.png?v=2' alt='Koduj prawdziwe projekty')
						img.img-up.svg-image(src='/assets/customs/img/big-box/folder.svg' alt='Koduj prawdziwe projekty')
						h4 Solve coding problems and build real-world projects.
						p
							| Each project is designed to teach you how to code a specific elements or solve certain problem which you will encounter in your future career.
					.information-box.card-black(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
						picture
							source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/ranking1.webp?v=2' type='image/webp')
							source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/ranking-mobile2.webp?v=2' type='image/webp')
							source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/ranking1.png?v=2' type='image/png')
							source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/ranking-mobile2.png?v=2' type='image/png')
							img.ranking(src='/assets/customs/img/big-box/ranking1.png?v=2' alt='Koduj prawdziwe projekty')
						img.img-up.svg-image(src='/assets/customs/img/big-box/order.svg' alt='Koduj prawdziwe projekty')
						h4
							| In case you need a help -
							| just click a button and ask community and mentors
						p
							| Every project has its own community channel. You can ask your peers for help or consult problems with a mentor.
				.information-box.card-black.information-right(data-aos='fade-up' data-aos-duration='300' data-aos-delay='150')
					picture
						source(media='(min-width: 801px)' srcset='/assets/customs/img/community/feedback.webp?v=2' type='image/webp')
						source(media='(max-width: 800px)' srcset='/assets/customs/img/community/feedback-mobile.webp?v=2' type='image/webp')
						source(media='(min-width: 801px)' srcset='/assets/customs/img/community/feedback.png?v=2' type='image/png')
						source(media='(max-width: 800px)' srcset='/assets/customs/img/community/feedback-mobile.png?v=2' type='image/png')
						img.feedback(src='/assets/customs/img/community/feedback.png?v=2' alt='Koduj prawdziwe projekty')
					img.img-up.svg-image(src='/assets/customs/img/big-box/data.svg' alt='Koduj prawdziwe projekty')
					h4 Learning materials created by the engineers from a world-class software company.
					p
	section.your-learning
		.gradient-empty
		.your-learning__title
			h2 Start your learning path
		.your-learning__container.learningL
			.your-learning__container-wrapper.swiper-wrapper
				a.your-learning__container-slide.swiper-slide(href='https://platform.invo.academy/paths/oeyuhZegnJMSaitvYmq5' target='_blank')
					picture
						source(srcset='/assets/customs/img/swiper2/slide1.webp?v=2' type='image/webp')
						source(srcset='/assets/customs/img/swiper2/slide1.png?v=2' type='image/png')
						img.img-slide(src='/assets/customs/img/swiper2/slide1.png?v=2' alt='Koduj prawdziwe projekty')
					span Learn Frontend by building Spotify Web App
				a.your-learning__container-slide.swiper-slide(href='https://platform.invo.academy/paths/YMINoABoBytAnSzkOEta' target='_blank')
					picture
						source(srcset='/assets/customs/img/swiper2/slide2.webp?v=2' type='image/webp')
						source(srcset='/assets/customs/img/swiper2/slide2.png?v=2' type='image/png')
						img.img-slide(src='/assets/customs/img/swiper2/slide2.png?v=2' alt='Koduj prawdziwe projekty')
					span Learn Frontend by building Netflix Web App
			.swiper-button-next
				img.next(src='/assets/customs/img/swiper2/next.png?v=2')
			.swiper-button-prev
				img.prev(src='/assets/customs/img/swiper2/next.png?v=2')
	section#code-review.code-review
		.code-review__container.flex
			.code-review__container-title.top-title.code-review--title.flex(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
				// <div class="coming-soon coming-soon--fonts">
				// </div>
				h2
					| H&#x1ECD;c vi&#x1EC7;n duy nh&#x1EA5;t d&#x1EA1;y h&#x1ECD;c v&#x1EDB;i
					span  Code Review
				p
					| The Code Review process is an invaluable tool to enhance your coding and teamwork efficiency. With different perspectives, it opens up possibilities for learning beyond what you initially had planned.
			.colorful-container.code-review__container-raising-qualifications.code-review--boxB
				picture
					source(srcset='/assets/customs/img/big-box/background-three.webp?v=2' type='image/webp')
					source(srcset='/assets/customs/img/big-box/background-three.png?v=2' type='image/png')
					img.image-background(src='/assets/customs/img/big-box/background-three.png?v=2' alt='Koduj prawdziwe projekty')
				picture
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/lernweb.webp?v=2' type='image/webp')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/lern-mobile2.webp?v=2' type='image/webp')
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/lern.png?v=2' type='image/png')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/lern-mobile2.png?v=2' type='image/png')
					img.main-photos(src='/assets/customs/img/big-box/lern.png?v=2' data-aos='fade-right' data-aos-duration='300' data-aos-delay='' alt='Koduj prawdziwe projekty')
				.content.big-box-content(data-aos='fade-left' data-aos-duration='300' data-aos-delay='')
					img.img-up.svg-image(src='/assets/customs/img/big-box/lern.svg' alt='Koduj prawdziwe projekty')
					h4 Enhance Your Coding Skills with Feedback from Senior Developers
					p
						| By conducting code reviews, you learn to analyze and improve the code of others. Assess the correctness of the code and the project&apos;s compliance with the design using precise instructions prepared by mentors.
			.code-review__container-pillars-of-academy
				.pillars-of-academy__box.card-black.left-box(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
					img.img-up.svg-image(src='/assets/customs/img/big-box/project.svg' alt='Koduj prawdziwe projekty')
					h4
						| Getting mentor feedback
						br
						|  for each of your projects
					p
						| From the available list of projects to check, choose one and start its code review.
				.pillars-of-academy__box.card-black.right-box(data-aos='fade-up' data-aos-duration='300' data-aos-delay='100')
					picture
						source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/instru1.webp?v=2' type='image/webp')
						source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/instru-mobile2.webp?v=2' type='image/webp')
						source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/instru1.png?v=2' type='image/png')
						source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/instru-mobile2.png?v=2' type='image/png')
						img.image-instruction(src='/assets/customs/img/big-box/instru1.png?v=2' alt='Koduj prawdziwe projekty')
					img.img-up.svg-image(src='/assets/customs/img/big-box/rev.svg' alt='Koduj prawdziwe projekty')
					h4 Revise and resubmit your project based on the mentor&apos;s feedback
					p Analysis of code correctness, checking the use of good practices, and much more.
					a.button.button-font(href='/assets/customs/img/code-review.pdf' target='_blank')
						span
							| How Code Review looks like?
							span
	section#practical-experience.practical-experience
		.practical-experience__container.flex
			.practical-experience__container-title.top-title.flex.practical-experience_title--width(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
				img.image-arrow(src='/assets/customs/img/big-box/arrow.svg' alt='Koduj prawdziwe projekty')
				h2
					| Don&apos;t let your words fall flat
					span show the portfolio
				p
					| Let your handiwork speak for itself. Be proud of what you have accomplished and communicate it through the tangible code pieces inside your portfolio!
			.colorful-container.practical-experience__container-raising-qualifications
				picture
					source(srcset='/assets/customs/img/big-box/circles.webp?v=2' type='image/webp')
					source(srcset='/assets/customs/img/big-box/circles.png?v=2' type='image/png')
					img.image-background(src='/assets/customs/img/big-box/circles.png?v=2' alt='Koduj prawdziwe projekty')
				picture
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/portfolio1.webp?v=3' type='image/webp')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/porfolio-mobile2.webp?v=2' type='image/webp')
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/portfolio1.png?v=3' type='image/png')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/porfolio-mobile2.png?v=2' type='image/png')
					img.main-photos(src='/assets/customs/img/big-box/portfolio1.png?v=3' data-aos='fade-right' data-aos-duration='300' data-aos-delay='' alt='Koduj prawdziwe projekty')
				picture
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/preview1.webp?v=2' type='image/webp')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/preview-mobile2.webp?v=2' type='image/webp')
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/preview1.png?v=2' type='image/png')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/preview-mobile2.png?v=2' type='image/png')
					img.main-photos-top(src='/assets/customs/img/big-box/preview1.png?v=2' data-aos='fade-up' data-aos-duration='300' data-aos-delay='100' alt='Koduj prawdziwe projekty')
				.content.big-box-content(data-aos='fade-left' data-aos-duration='300' data-aos-delay='150')
					img.img-up.svg-image(src='/assets/customs/img/big-box/bag.svg' alt='Koduj prawdziwe projekty')
					h4
						| Share your best code
						br
						| projects from one place
					p
						| You can impress potential employers with your programming expertise by letting them take a glimpse through the code that&apos;s brought your amazing projects to life.
			.practical-experience__container-pillars-of-academy
				.pillars-of-academy__box.card-black.left-box(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
					img.img-up.svg-image(src='/assets/customs/img/big-box/paper.svg' alt='Koduj prawdziwe projekty')
					h4 Portfolio built on autopilot
					p
						| Creating a portfolio doesn&apos;t have to take all your free time. As you complete projects, they get added to your portfolio automatically! Arrange it as you like so that recruiters can get a clear understanding of what you&apos;re capable of.
				.pillars-of-academy__box.card-black.right-box.practical-experience_boxSR--height(data-aos='fade-up' data-aos-duration='300' data-aos-delay='100')
					picture
						source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/statistic-expi1.webp?v=2' type='image/webp')
						source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/statistic-expi-mobile2.webp?v=2' type='image/webp')
						source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/statistic-expi1.png?v=2' type='image/png')
						source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/statistic-expi-mobile2.png?v=2' type='image/png')
						img.image-instruction(src='/assets/customs/img/big-box/statistic-expi1.png?v=2' alt='Koduj prawdziwe projekty')
					img.img-up.svg-image(src='/assets/customs/img/big-box/sum-col.svg' alt='Koduj prawdziwe projekty')
					h4 Learning summary
					p
						| Statistics, access to your GitHub profile, and a compilation of your best projects for review: for recruiters, this is all the interesting information you need. All conveniently packaged within one expansive portfolio site.
	section.best-community
		.best-community__container.flex
			.best-community__container-title.flex(data-aos='fade-up' data-aos-duration='300' data-aos-delay='150')
				h2 Best Front-End Dev Community
				p
					| Place full of good practices, tips on the first job, and the latest trends in the IT industry.
			.best-community__container-content.Community
				.swiper-wrapper
					.box-community.swiper-slide(data-aos='fade-up' data-aos-duration='400' data-aos-delay='50')
						img.image-swiper(src='/assets/customs/img/big-box/swiper5x2.png?v=2')
						.category
							img(src='/assets/customs/img/big-box/Ellipse.svg')
							span LIVE
						h4 Regular Events With Experts
						p
							| Project Review and Q&amp;A sessions
							br
							|  with Senior Developers.
					.box-community.swiper-slide(data-aos='fade-up' data-aos-duration='400' data-aos-delay='100')
						img.image-swiper(src='/assets/customs/img/big-box/swiper2x2.png?v=2')
						.category
							img(src='/assets/customs/img/big-box/book.svg')
							span KNOWLEDGE BASE
						h4 Community-made knowledge base
						p
							| Best coding practices at your disposal &ndash;
							br
							|  all the time.
					.box-community.swiper-slide(data-aos='fade-up' data-aos-duration='400' data-aos-delay='150')
						img.image-swiper(src='/assets/customs/img/big-box/swiper3x2.png?v=2')
						.category
							img(src='/assets/customs/img/big-box/people.svg')
							span COMMUNITY
						h4 Active Engineering Community
						p
							| Exchange knowledge and browse
							br
							|  listings in an active community.
					.box-community.swiper-slide(data-aos='fade-up' data-aos-duration='400' data-aos-delay='200')
						img.image-swiper(src='/assets/customs/img/big-box/swiper4x2.png?v=2')
						.category
							img(src='/assets/customs/img/big-box/profile-2user.svg')
							span CAREER
						h4 Career-Building Support
						p
							| Exchange insights and browse job
							br
							|  offers in a large expert group.
				.swiper-scrollbar
			a.button-blue.button-font(href='community/index.htm') Discover Community
	section#how-it-works.have-prepared
		.have-prepared__container.flex
			.have-prepared__container-title.flex(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
				h2
					| That&apos;s not all!
					br
					|  See what else we have prepared
			.have-prepared__container-content.have-prepared__container--eng
				.container-left.container-position--box
					.container-left__top.card-black.card-black__center(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
						img.svg-last-section(src='/assets/customs/img/big-box/people2.svg' alt='Koduj prawdziwe projekty')
						h4
							| Our experience
							br
							|  gathered into one
							br
							|  knowledge base
						p
							| We brought to INVO Academy the best practices and processes
							br
							|  developed over years of digital
							br
							|  product development within
							br
							|  INVO Technologies.
					.container-left__bottom.card-black(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
						picture.picture-order
							source(srcset='/assets/customs/img/big-box/advice2.webp?v=2' type='image/webp')
							source(srcset='/assets/customs/img/big-box/advice2.png?v=2' type='image/png')
							img.advice-img(src='/assets/customs/img/big-box/advice2.png?v=2' alt='Koduj prawdziwe projekty')
						.description
							img.svg-last-section(src='/assets/customs/img/big-box/sheet.svg' alt='Koduj prawdziwe projekty')
							h4
								| Good practices for
								br
								|  landing your first IT job
							p
								| Gain a unique insight into the hiring process from seasoned experts! Make your first foray into the job market with beneficial tips and advice in hand.
						picture
							source(srcset='/assets/customs/img/big-box/gradientlbw.webp?v=2' type='image/webp')
							source(srcset='/assets/customs/img/big-box/gradientLB1.png?v=2' type='image/png')
							img.gradient-lb(src='/assets/customs/img/big-box/gradientLB1.png?v=2' alt='Koduj prawdziwe projekty')
				.container-middle.container-position--box.have-prepared--width
					.container-middle__top.card-black.card-black__center(data-aos='fade-up' data-aos-duration='300' data-aos-delay='100')
						img.svg-last-section(src='/assets/customs/img/big-box/king.svg' alt='Koduj prawdziwe projekty')
						h4
							| Draw the attention
							br
							|  of recruiters
						p
							| Add your skills and experience, specify if you are open to job offers and get yourself found by recruiters.
					.container-middle__mid.card-black(data-aos='fade-up' data-aos-duration='300' data-aos-delay='100')
						.description
							img.svg-last-section(src='/assets/customs/img/big-box/file.svg' alt='Koduj prawdziwe projekty')
							h4
								| Effective Resume with
								br
								|  a Professional Flair
							p With helpful hints and simpe steps, crearing your successful resume can be easy.
						.container-mute
							picture
								source(srcset='/assets/customs/img/big-box/mute1.webp?v=2' type='image/webp')
								source(srcset='/assets/customs/img/big-box/mute1.png?v=2' type='image/png')
								img.mute-img(src='/assets/customs/img/big-box/mute1.png?v=2' alt='Koduj prawdziwe projekty')
					a.container-middle__bottom-bc(href='https://platform.invo.academy/sign-up')
						.container-middle__bottom.card-black.card-black__center(data-aos='fade-up' data-aos-duration='300' data-aos-delay='100')
							img.svg-last-section(src='/assets/customs/img/big-box/book2.svg' alt='Koduj prawdziwe projekty')
							div
								h4 Join INVO Academy
								img.svg-turn(src='/assets/customs/img/big-box/turn-r.svg' alt='Koduj prawdziwe projekty')
				.container-right.container-position--box
					.container-right__top.card-black.card-black__center(data-aos='fade-up' data-aos-duration='300' data-aos-delay='200')
						img.svg-last-section(src='/assets/customs/img/big-box/eye.svg' alt='Koduj prawdziwe projekty')
						h4 Learning Statistics
						p
							| The system provides feedback on your learning progress, helping you to track every step along the way.
						picture
							source(srcset='/assets/customs/img/big-box/folder.webp?v=2' type='image/webp')
							source(srcset='/assets/customs/img/big-box/folder1.png?v=2' type='image/png')
							img.folder-img(src='/assets/customs/img/big-box/folder1.png?v=2' alt='Koduj prawdziwe projekty')
						picture
							source(srcset='/assets/customs/img/big-box/gradientpt.webp?v=2' type='image/webp')
							source(srcset='/assets/customs/img/big-box/gradientPT.png?v=2' type='image/png')
							img.gradient-rt(src='/assets/customs/img/big-box/gradientPT.png?v=2' alt='Koduj prawdziwe projekty')
					.container-right__bottom.card-black(data-aos='fade-up' data-aos-duration='300' data-aos-delay='200')
						// <img class="spotyTwo-img"
						// src="
						// /fronted/src/assets/customs/img/big-box/spoty3.png?v=2"
						// alt="Koduj prawdziwe projekty">
						img.svg-last-section(src='/assets/customs/img/big-box/chain.svg' alt='Koduj prawdziwe projekty')
						h4
							| Jobs at INVO for the
							br
							|  best members
						p
							| We guarantee the best students
							br
							|  a job with us, at INVO Technologies.
						picture.gradient-rb
							source(src='/assets/customs/img/big-box/the-best.webp?v=2' type='image/webp')
							img(src='/assets/customs/img/big-box/the-best.png?v=2' alt='Koduj prawdziwe projekty')
							.gradient-rb--bg
			.have-prepared__container-big-box.card-black(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
				picture
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/meetups-mobile.webp?v=2' type='image/webp')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/meetups-mobile.png?v=2' type='image/png')
					source(srcset='/assets/customs/img/big-box/meetups.webp?v=2' type='image/webp')
					img.events-img(src='/assets/customs/img/big-box/meetups.png?v=2' alt='Koduj prawdziwe projekty')
				.big-box__content
					img.svg-last-section(src='/assets/customs/img/big-box/calendar.svg' alt='Koduj prawdziwe projekty')
					h4
						| Unique events and
						br
						|  meetups with experts
					p
						| Participate in one of the exciting monthly events to get firsthand insight from experts. Join these events and widen your perspective or better yet make a lasting difference!
	footer
		.footer-container.footer-direction
			img.logo-top(src='/assets/customs/img/footer/logoinvo.svg' alt='Koduj prawdziwe projekty')
			.footer-container__content
				.footer-container__content-box.footer-direction
					.category.small-font
						| ACADEMY
						img.turn-down(src='/assets/customs/img/footer/turn-down.svg' alt='Koduj prawdziwe projekty')
					.description
						a(href='pricing/index.htm') Pricing
						a(href='https://intercom.help/invo-academy/pl/' target='_blank') FAQ
						a(href='invo-academy-vs-frontend-mentor/index.htm' target='_blank') INVO vs Frontend Mentor
				.small-dash
				.footer-container__content-box.footer-direction
					.category.small-font
						| PLATFORM
						img.turn-down(src='/assets/customs/img/footer/turn-down.svg' alt='Koduj prawdziwe projekty')
					.description
						a(href='index.htm#three-pillars') How it works
						a(href='index.htm#home-video') Our methodology
						a(href='https://platform.invo.academy/challenges') Projects to code
				.small-dash
				.footer-container__content-box.footer-direction
					.category.small-font
						| FUNCTIONALITIES
						img.turn-down(src='/assets/customs/img/footer/turn-down.svg' alt='Koduj prawdziwe projekty')
					.description
						a(href='index.htm#real-projects') Start coding projects
						a(href='index.htm#code-review') Do code review
						a(href='index.htm#practical-experience') Build your portfolio
				.small-dash
				.footer-container__content-box.footer-direction
					.category.small-font
						| COMMUNITY
						img.turn-down(src='/assets/customs/img/footer/turn-down.svg' alt='Koduj prawdziwe projekty')
					.description
						a(href='community/index.htm') Community
						a(href='https://www.facebook.com/groups/3475853989362320/' target='_blank') Facebook Group
						a(href='https://classy-hedgehog-bb8.notion.site/Regulamin-spo-eczno-ci-5d4d5bea33b44ed49142f042fa229512' target='_blank') Guidelines
				.small-dash
				.footer-container__content-box.footer-direction
					.category.small-font
						| ABOUT US
						img.turn-down(src='/assets/customs/img/footer/turn-down.svg' alt='Koduj prawdziwe projekty')
					.description
						a(href='contact/index.htm') Contact
						a(href='https://classy-hedgehog-bb8.notion.site/Misja-INVO-Academy-3f418dde60ce4442acb96645881daee4' target='_blank') Our mission
						a(href='https://www.invotech.co' target='_blank') INVO Technologies
			.footer-container__content-contact
				.contact-social
					.contact-social__email
						img.sms(src='/assets/customs/img/footer/sms.svg' alt='Koduj prawdziwe projekty')
						a(href='cdn-cgi/l/email-protection.html#6109040d0d0e21080f170e4f00020005040c18')
							span.__cf_email__(data-cfemail='b8d0ddd4d4d7f8d1d6ced796d9dbd9dcddd5c1') [email&nbsp;protected]
					.contact-social__portal
						a(href='https://www.facebook.com/profile.php?id=100089923222127' target='_blank')
							svg.svg-portal.hover-svg(viewbox='0 0 8 17' fill='red' xmlns='http://www.w3.org/2000/svg')
								path(d='M6.53946 2.82271H8V0.119708C7.74802 0.082875 6.88143 0 5.87218 0C3.76635 0 2.32381 1.40746 2.32381\
								3.99429V6.375H0V9.39675H2.32381V17H5.1729V9.39746H7.40272L7.75669 6.37571H5.17224V4.29392C5.1729 3.42054\
								5.39422 2.82271 6.53946 2.82271Z' fill='#EEEFF5')
						a(href='https://www.instagram.com/invo.academy/' target='_blank')
							svg.svg-insta.hover-svg(viewbox='0 0 17 17' xmlns='http://www.w3.org/2000/svg')
								path(fill-rule='evenodd' clip-rule='evenodd' d='M4.25 8.49805C4.25 6.15151 6.15139 4.24805 8.5 4.24805C10.8465 4.24805 12.75 6.14944 12.75 8.49805C12.75 10.8446 10.8486 12.748 8.5 12.748C6.15346 12.748 4.25 10.8467 4.25 8.49805ZM5.74132 8.49758C5.74132 10.0215 6.97532 11.2561 8.49988 11.2561C10.0244 11.2561 11.2591 10.0215 11.2584 8.49758C11.2584 6.97371 10.0238 5.73901 8.49988 5.73901C6.97601 5.73901 5.74132 6.97371 5.74132 8.49758Z' fill='#EEEFF5')
								path(fill-rule='evenodd' clip-rule='evenodd' d='M5.0017 0.053398C6.56712 -0.0160175 10.441 -0.0195591 12.005 0.053398C15.2045 0.200729 16.8061 2.01049 16.9463 4.99465C17.0157 6.56003 17.02 10.4331 16.9463 11.9978C16.8302 14.5258 15.6416 15.9332 14.067 16.5445C12.9143 16.9908 11.789 16.9908 8.54916 16.9908H8.503C8.16142 16.9908 7.8308 16.9932 7.51071 16.9956C4.83911 17.0155 2.90014 17.0299 1.43454 15.5649C-0.0206855 14.1097 -0.0101674 12.2119 0.0053113 9.41894C0.00695807 9.1218 0.00866098 8.81453 0.00866098 8.49658C0.00866098 8.15688 0.00635055 7.82853 0.00411633 7.51102C-0.0148971 4.80894 -0.0283918 2.89115 1.43454 1.42825C2.41274 0.450058 3.62612 0.117855 5.0017 0.053398ZM9.26262 15.4605C12.1549 15.4672 13.4939 15.4703 14.4809 14.4833C15.4728 13.4867 15.4716 12.1616 15.4686 9.08695C15.4685 8.89673 15.4683 8.69982 15.4683 8.49587C15.4683 6.22783 15.4591 5.95867 15.4187 5.06264C15.2562 1.4722 12.7665 1.49495 9.45587 1.52522C9.14561 1.52805 8.82814 1.53095 8.50469 1.53095L8.47282 1.5097C6.23566 1.5097 5.94409 1.52001 5.0738 1.55077L5.03315 1.5522C1.44824 1.73581 1.46994 4.09975 1.50104 7.48663C1.50401 7.81049 1.50707 8.1437 1.50707 8.48525C1.50707 8.88801 1.50288 9.27168 1.49889 9.63697C1.47423 11.8947 1.45724 13.4503 2.48457 14.4727C3.47205 15.4629 4.80814 15.4619 7.99624 15.4596C8.15382 15.4595 8.31593 15.4594 8.48274 15.4594C8.75465 15.4594 9.01436 15.46 9.26262 15.4605Z' fill='#EEEFF5')
								circle(cx='12.7504' cy='4.25039' r='0.85' fill='#EEEFF5')
						a(href='https://www.linkedin.com/company/invo-academy/' target='_blank')
							svg.svg-link.hover-svg(viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M15.9959 15.9998V15.9991H15.9998V10.1048C15.9998 7.22125 15.4022 5 12.1568 5C10.5967 5 9.54967 5.88931 9.12224 6.7324H9.07711V5.2692H6V15.9991H9.20412V10.6861C9.20412 9.28715 9.45942 7.93444 11.1272 7.93444C12.7706 7.93444 12.795 9.5309 12.795 10.7758V15.9998H15.9959Z' fill='#EEEFF5')
								path(d='M0 5H3.99992V15.9998H0L0 5Z' fill='#EEEFF5')
								path(d='M1.99996 0C0.895889 0 0 0.891712 0 1.99064C0 3.08956 0.895889 3.99992 1.99996 3.99992C3.10404 3.99992 3.99992 3.08956 3.99992 1.99064C3.99923 0.891712 3.10334 0 1.99996 0Z' fill='#EEEFF5')
				.contact-data
					.contact-data__address
						.contact-data__address-logo
							img.location(src='/assets/customs/img/footer/location.svg')
							img.logo-mid(src='/assets/customs/img/footer/logomid.svg')
						.contact-data__address-adders
							span.small-font Prosta 20, WeWork 00-850, Warszawa
					.contact-data__information.small-font
						| Company registered with the District Court of the Capital City of Warsaw, 13th Commercial Division; KRS: 0001006144; NIP: 5273031367; share capital: PLN 100,000 - paid in full
			.footer-container__line
			.footer-container__bottom
				span.copyright.small-font &copy; INVO Academy 2022 &mdash; All rights reserved.
				.footer-container__bottom-political
					a.small-font(href='https://classy-hedgehog-bb8.notion.site/INVO-Academy-terms-d1a565036ca944feb221956c683f658e' target='_blank') Terms and conditions
					a.small-font(href='https://classy-hedgehog-bb8.notion.site/Privacy-Policy-b72b7f2b03724b2a94ec9498aab63c88"' target='_blank') Privacy policy
					a.small-font(href='https://classy-hedgehog-bb8.notion.site/Terms-of-using-INVO-Academy-projects-license-c600ac8e70334fb0ba53ae9bb5f36d30' target='_blank') Project License
