main.default-page(cubScrollBar, suppressX)
	nav.nav-bar.visible
		.background--empty
		.nav-bar__content.nav-bar__content--mobile.ui-grid
			.left
				a(routerLink='/')
					.nbc__logo
						img.logo-desktop(src='/assets/images/logos/logo-horizontal.png', alt='KHT Khoá học tốt')
			.right
				.buttons-container
					.button-container
						a(routerLink='/sign-up')
							button.button.button--round-border.button--main-blue-btn(style='white-space: nowrap')
								| Đăng ký
				.nvc__right
					.toggle-roadbar
						a.toggle-roadbar__hamburger__container
							.toggle-roadbar__hamburger
		.nav-bar__content.ui-grid
			.left
				a(routerLink='/')
					.nbc__logo
						img.logo-desktop(src='/assets/images/logos/logo-horizontal.png', alt='KHT Khoá học tốt')
			.right.right--center
				ul.nvc__left
					li
						a(routerLink='/')
							p Học viện
							a.dropdown-reveal
								img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
								img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
								img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
					li.no-dropdown
						a(routerLink='/learning-paths')
							p Lộ trình học tập
					li.no-dropdown
						a(routerLink='/challenges')
							p Dự án thực hành
					li.no-dropdown
						a(routerLink='/pricing')
							p Bảng giá
					li.no-dropdown
						a(routerLink='/community')
							p Cộng đồng
					li
						a(target='_blank', routerLink='/about-us')
							p Về chúng tôi
							a.dropdown-reveal
								img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
								img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
								img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
					li.no-dropdown
						a(routerLink='/faq')
							p Câu hỏi thường gặp
			.right
				.nvc__right
					.button-container
						a(routerLink='/sign-up')
							button.button.button--round-border.button--main-blue-btn(style='white-space: nowrap')
								| Đăng ký
		.submenus-container
			.submenus
				.submenu-container
					.submenu
						.all-services
							h3.page-section-description--smaller
								| Học mọi kỹ năng bạn muốn
								br
								| với KHT - Khoá học tốt
							p
								| Từ công nghệ, kinh doanh đến nghệ thuật –
								br
								| khám phá và phát triển sự nghiệp của bạn!
						.submenu__column
							a(href='index.htm#three-pillars')
								.icon-container
									img.cat-icon.icon-container__non-active(src='/assets/customs/img/nav-bar/platforma-1-active.svg')
									img.cat-icon.icon-container__active(src='/assets/customs/img/nav-bar/platforma-1.svg')
								.internal-container
									p.list-item-content Cách học hiệu quả
									p.submenu__column__desc Khám phá nền tảng đa lĩnh vực
								img(src='/assets/customs/img/nav-bar/arrow-white.svg')
							a(href='index.htm#real-projects')
								.icon-container
									img.cat-icon.icon-container__non-active(src='/assets/customs/img/nav-bar/platforma-2-active.svg')
									img.cat-icon.icon-container__active(src='/assets/customs/img/nav-bar/platforma-2.svg')
								.internal-container
									p.list-item-content Thực hành dự án thực tế
									p.submenu__column__desc Học qua trải nghiệm
								img(src='/assets/customs/img/nav-bar/arrow-white.svg')
							a(href='index.htm#code-review')
								.icon-container
									img.cat-icon.icon-container__non-active(src='/assets/customs/img/nav-bar/platforma-3-active.svg')
									img.cat-icon.icon-container__active(src='/assets/customs/img/nav-bar/platforma-3.svg')
								.internal-container
									p.list-item-content Nhận phản hồi từ chuyên gia
									p.submenu__column__desc Cải thiện kỹ năng nhanh chóng
								img(src='/assets/customs/img/nav-bar/arrow-white.svg')
							a(href='index.htm#practical-experience')
								.icon-container
									img.cat-icon.icon-container__non-active(src='/assets/customs/img/nav-bar/platforma-4-active.svg')
									img.cat-icon.icon-container__active(src='/assets/customs/img/nav-bar/platforma-4.svg')
								.internal-container
									p.list-item-content Xây dựng portfolio chuyên nghiệp
									p.submenu__column__desc Gây ấn tượng với nhà tuyển dụng
								img(src='/assets/customs/img/nav-bar/arrow-white.svg')
						.rounded-container.rounded-container--text.NavOpinion
							.swiper-wrapper
								.opinion.swiper-slide
									div
										img.img-stars(src='/assets/customs/img/nav-bar/stars.svg')
										p.opinion-content
											| "Tôi đã học cả lập trình và marketing – rất linh hoạt và thực tế!"
									.opinion-data
										picture
											source(srcset='/assets/customs/img/nav-bar/user1.jpg?v=2', type='image/png')
											source(srcset='https://invo.academy//assets/customs/img/nav-bar/user1.wepb', type='image/webp')
											img(src='/assets/customs/img/nav-bar/user1.jpg?v=2', alt='Học kỹ năng đa dạng')
										.opinion-user
											h4 Nguyễn Minh Anh
											p Tốt nghiệp khóa 3 tháng
											p KHT Khoá học tốt
								.opinion.swiper-slide
									div
										img.img-stars(src='/assets/customs/img/nav-bar/stars.svg')
										p.opinion-content
											| "Khóa học thiết kế giúp tôi xây dựng portfolio ấn tượng!"
									.opinion-data
										picture
											source(srcset='/assets/customs/img/nav-bar/user2.jpg?v=2', type='image/png')
											source(srcset='https://invo.academy//assets/customs/img/nav-bar/user2.wepb', type='image/webp')
											img(src='/assets/customs/img/nav-bar/user2.jpg?v=2', alt='Học kỹ năng đa dạng')
										.opinion-user
											h4 Trần Văn Hùng
											p Tốt nghiệp khóa 2 tháng
											p KHT Khoá học tốt
								.opinion.swiper-slide
									div
										img.img-stars(src='/assets/customs/img/nav-bar/stars.svg')
										p.opinion-content
											| "Tôi học kỹ năng mềm và kinh doanh – tự tin hơn bao giờ hết!"
									.opinion-data
										picture
											source(srcset='/assets/customs/img/nav-bar/user3.jpg?v=2', type='image/png')
											source(srcset='https://invo.academy//assets/customs/img/nav-bar/user3.wepb', type='image/webp')
											img(src='/assets/customs/img/nav-bar/user3.jpg?v=2', alt='Học kỹ năng đa dạng')
										.opinion-user
											h4 Lê Thị Mai
											p Tốt nghiệp khóa 3 tháng
											p KHT Khoá học tốt
							.toggle-opinion
								button.button-transparent.swiper-button-prev.rotate-left
									img(src='/assets/customs/img/nav-bar/toggle-right.svg')
								button.button-transparent.swiper-button-next
									img(src='/assets/customs/img/nav-bar/toggle-right.svg')
					.submenu
						.all-services
							h3.page-section-description--smaller
								| Đội ngũ chuyên gia đa lĩnh vực
								br
								| hỗ trợ bạn
							p
								| Chúng tôi mang đến kinh nghiệm thực tiễn
								br
								| từ nhiều ngành nghề để giúp bạn thành công.
						.submenu__column
							a(href='https://classy-hedgehog-bb8.notion.site/Misja-INVO-Academy-3f418dde60ce4442acb96645881daee4', target='_blank')
								.icon-container
									img.cat-icon.icon-container__non-active(src='/assets/customs/img/nav-bar/platforma-1-active.svg')
									img.cat-icon.icon-container__active(src='/assets/customs/img/nav-bar/platforma-1.svg')
								.internal-container
									p.list-item-content Sứ mệnh của chúng tôi
									p.submenu__column__desc Hành trình của KHT - Khoá học tốt
								img(src='/assets/customs/img/nav-bar/arrow-white.svg')
							a(routerLink='/contact')
								.icon-container
									img.cat-icon.icon-container__non-active(src='/assets/customs/img/nav-bar/platforma-5-active.svg')
									img.cat-icon.icon-container__active(src='/assets/customs/img/nav-bar/platforma-5.svg')
								.internal-container
									p.list-item-content Liên hệ
									p.submenu__column__desc Hỏi đáp nhanh chóng
								img(src='/assets/customs/img/nav-bar/arrow-white.svg')
							a(routerLink='/careers')
								.icon-container
									img.cat-icon.icon-container__non-active(src='/assets/customs/img/nav-bar/platforma-6-active.svg')
									img.cat-icon.icon-container__active(src='/assets/customs/img/nav-bar/platforma-6.svg')
								.internal-container
									p.list-item-content Cơ hội việc làm
									p.submenu__column__desc Tham gia đội ngũ KHT
								img(src='/assets/customs/img/nav-bar/arrow-white.svg')
						a.rounded-container.rounded-container--image(routerLink='/about-us')
							picture
								source(srcset='/assets/customs/img/nav-bar/team.webp?v=2', type='image/webp')
								source(srcset='/assets/customs/img/nav-bar/team.jpg?v=2', type='image/jpg')
								img.team(src='/assets/customs/img/nav-bar/team.jpg?v=2', alt='Học kỹ năng đa dạng')
							.gradient
							.rounded-container--image__text
								h3 KHT Khoá học tốt
								p
									| Khám phá ngay
									br
									| và tìm hiểu về KHT.
							img.arrow-right(src='/assets/customs/img/nav-bar/arrow-right-big.svg')
		.mobile-menu.mobile-menu--white-bg
			ul.nvc__left
				li#howIt.dropdown-container
					.link-and-dropdown
						a
							| Học viện
						a.dropdown-reveal-nav
							img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
					.submenu-container.submenu-container-mobile
						.inner-padding
							.all-services
								h3.page-section-description--smaller
									| Học mọi kỹ năng bạn muốn
									br
									| với KHT - Khoá học tốt
								p
									| Từ công nghệ, kinh doanh đến nghệ thuật –
									br
									| khám phá và phát triển sự nghiệp của bạn!
							.submenu
								.submenu__column
									a.link-mobile-submenu(href='index.htm#three-pillars')
										img.cat-icon(src='/assets/customs/img/nav-bar/platforma-1.svg')
										.internal-container
											p.list-item-content Cách học hiệu quả
											p.submenu__column__desc Khám phá nền tảng đa lĩnh vực
										img(src='/assets/customs/img/nav-bar/arrow-white.svg')
									a.link-mobile-submenu(href='index.htm#real-projects')
										img.cat-icon(src='/assets/customs/img/nav-bar/platforma-2.svg')
										.internal-container
											p.list-item-content Thực hành dự án thực tế
											p.submenu__column__desc Học qua trải nghiệm
										img(src='/assets/customs/img/nav-bar/arrow-white.svg')
									a.link-mobile-submenu(href='index.htm#code-review')
										img.cat-icon(src='/assets/customs/img/nav-bar/platforma-3.svg')
										.internal-container
											p.list-item-content Nhận phản hồi từ chuyên gia
											p.submenu__column__desc Cải thiện kỹ năng nhanh chóng
										img(src='/assets/customs/img/nav-bar/arrow-white.svg')
									a.link-mobile-submenu(href='index.htm#practical-experience')
										img.cat-icon(src='/assets/customs/img/nav-bar/platforma-4.svg')
										.internal-container
											p.list-item-content Xây dựng portfolio chuyên nghiệp
											p.submenu__column__desc Gây ấn tượng với nhà tuyển dụng
										img(src='/assets/customs/img/nav-bar/arrow-white.svg')
				li
					.link-and-dropdown
						a(routerLink='/learning-paths')
							| Lộ trình học tập
				li
					.link-and-dropdown
						a(routerLink='/challenges')
							| Dự án thực hành
				li
					.link-and-dropdown
						a(routerLink='/pricing')
							| Bảng giá
				li
					.link-and-dropdown
						a(routerLink='/community')
							| Cộng đồng
				li.dropdown-container
					.link-and-dropdown
						a(routerLink='/about-us')
							| Về chúng tôi
						a.dropdown-reveal-nav
							img(src='/assets/customs/img/nav-bar/toggle-arrow.svg')
					.submenu-container.submenu-container-mobile
						.inner-padding
							.all-services
								h3.page-section-description--smaller
									| Đội ngũ chuyên gia đa lĩnh vực
									br
									| hỗ trợ bạn
								p
									| Chúng tôi mang đến kinh nghiệm thực tiễn
									br
									| từ nhiều ngành nghề để giúp bạn thành công.
							.submenu
								.submenu__column
									a.link-mobile-submenu(href='https://classy-hedgehog-bb8.notion.site/Misja-INVO-Academy-3f418dde60ce4442acb96645881daee4', target='_blank')
										img.cat-icon(src='/assets/customs/img/nav-bar/platforma-1.svg')
										.internal-container
											p.list-item-content Sứ mệnh của chúng tôi
											p.submenu__column__desc Hành trình của KHT - Khoá học tốt
										img(src='/assets/customs/img/nav-bar/arrow-white.svg')
									a.link-mobile-submenu(href='contact/index.htm')
										img.cat-icon(src='/assets/customs/img/nav-bar/platforma-5.svg')
										.internal-container
											p.list-item-content Liên hệ
											p.submenu__column__desc Hỏi đáp nhanh chóng
										img(src='/assets/customs/img/nav-bar/arrow-white.svg')
									a.link-mobile-submenu(routerLink='/careers', target='_blank')
										img.cat-icon(src='/assets/customs/img/nav-bar/platforma-6.svg')
										.internal-container
											p.list-item-content Cơ hội việc làm
											p.submenu__column__desc Tham gia đội ngũ KHT
										img(src='/assets/customs/img/nav-bar/arrow-white.svg')
							a.rounded-container.rounded-container--image(routerLink='/', target='_blank')
								img(src='/assets/customs/img/nav-bar/team.jpg?v=2')
								.gradient
								.rounded-container--image__text
									h3 KHT Khoá học tốt
									p
										| Khám phá ngay
										br
										| và tìm hiểu về KHT.
								img.arrow-right(src='/assets/customs/img/nav-bar/arrow-right-big.svg')
				li
					.link-and-dropdown
						a(routerLink='/faq')
							| Câu hỏi thường gặp
				li.white-link
					a.contact(routerLink='/sign-up')
						| Đăng ký
	section.main-header
		.text-container
			h1.colorful-title
				| Học mọi kỹ năng
				br
				| Định hình sự nghiệp
				br
				| của bạn
			p.header-content__left-description
				| Công nghệ, kinh doanh, thiết kế, kỹ năng mềm
				br
				| Tất cả đều có tại đây để bạn chinh phục!
			.button-text-container
				a.button-link(routerLink='/sign-up')
					button.button
						| Bắt đầu ngay
				.bg
		.content-container
			.img-container
				.bg.bg--1
				.bg.bg--2
				picture
					source(media='(min-width: 801px)', srcset='/assets/customs/img/header/header-1ang.webp?v=2', type='image/webp')
					source(media='(max-width: 800px)', srcset='/assets/customs/img/header/header-mobileEN.webp?v=2', type='image/webp')
					source(media='(min-width: 801px)', srcset='/assets/customs/img/header/header-1ang.png?v=2', type='image/png')
					source(media='(max-width: 800px)', srcset='/assets/customs/img/header/header-mobileEN.png?v=2', type='image/png')
					img.image-background(src='https://invo.academy//assets/customs/img/header/', alt='Học kỹ năng đa dạng')
		.header-bg.img-container
			picture
				source(media='(min-width: 801px)', srcset='/assets/customs/img/header/header-bg.webp?v=2' type='image/webp')
				source(media='(max-width: 800px)' srcset='/assets/customs/img/header/header-bg-mobile.webp?v=2' type='image/webp')
				source(media='(min-width: 801px)' srcset='/assets/customs/img/header/header-bg.png?v=2' type='image/png')
				source(media='(max-width: 800px)' srcset='/assets/customs/img/header/header-bg-mobile.png?v=2' type='image/png')
				img.web(src='/assets/customs/img/header/header-bg.png?v=2' alt='Học kỹ năng đa dạng')
		.net-bg
			img.image-background(src='/assets/customs/img/header/siatka.svg' alt='Học kỹ năng đa dạng')
	section#home-video.video-section
		.video-container.gradient-border
			.buttons
				.buttons-center
					img.play.shown(src='/assets/customs/img/video-section/play.svg' alt='Học kỹ năng đa dạng')
					img.fs-mobile(src='/assets/customs/img/video-section/fs-mobile.svg' alt='Học kỹ năng đa dạng')
				.img-container.img-container--fullscreen
					img.fullscreen(src='/assets/customs/img/video-section/fullscreen.svg')
				.img-container.img-container--toggle-audio
					img.unmute.shown(src='/assets/customs/img/video-section/unmute.svg')
					img.mute(src='/assets/customs/img/video-section/mute.svg')
			video(controls='' autoplay='' muted='true' loop='' playsinline='' poster='/assets/customs/video/home/home.jpg?v=2' src='/assets/customs/video/home/home-6.mp4?v=2' type='video/mp4')
	section.finding-job
		.finding-job__container.flex
			.finding-job__container-title.top-title.flex.finding-job_title-class
				h2
					| Tìm kiếm sự nghiệp mơ ước
					br
					span không còn khó khăn
				p
					| Tại KHT - Khoá học tốt, chúng tôi giúp bạn học mọi kỹ năng cần thiết&nbsp;
					br
					| để phát triển sự nghiệp trong bất kỳ lĩnh vực nào bạn chọn.
			.colorful-container.finding-job__container-raising-qualifications
				picture
					source(srcset='/assets/customs/img/big-box/background.webp?v=2' type='image/webp')
					source(srcset='/assets/customs/img/big-box/background.png?v=2' type='image/png')
					img.image-background(src='/assets/customs/img/big-box/background.png?v=2' alt='Học kỹ năng đa dạng')
				picture
					source(media='(min-width: 801px)' finding-job_img='' srcset='/assets/customs/img/big-box/statisticAng.webp?v=2' type='image/webp')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/statistic-mobile2Ang.webp?v=2' type='image/webp')
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/statisticAng.png?v=2' type='image/png')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/statistic-mobile2Ang.png?v=2' type='image/png')
					img.main-photos(src='/assets/customs/img/big-box/statisticAng.png?v=2' data-aos='fade-left' data-aos-duration='300' data-aos-delay='250' alt='Học kỹ năng đa dạng')
				.content.big-box-content(data-aos='fade-right' data-aos-duration='300' data-aos-delay='')
					img.img-up.svg-image(src='/assets/customs/img/big-box/turn-up.svg' alt='Học kỹ năng đa dạng')
					h4 Học mọi kỹ năng với
					br
					h4 KHT - Khoá học tốt
					p
						| Chọn lĩnh vực bạn yêu thích, học qua dự án thực tế và sẵn sàng cho sự nghiệp mơ ước!
					a.button.button-black.button-font(href='learning-paths/index.htm')
						| Khám phá lộ trình học tập
			#three-pillars.finding-job__container-pillars-of-academy.flex
				picture.light-effect.gradient-light
					img(src='/assets/customs/img/big-box/gradient-light-min.png?v=2' alt='Học kỹ năng đa dạng')
				h3(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
					| 4 bước để thành thạo kỹ năng
				.container-pillars.eng--change
					.container-pillars__box.card-black.container-pillars__box.flex(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
						.container-pillars__box-left.container-pillars__box-left--left.min-height
							img.svg-image(src='/assets/customs/img/big-box/1.svg' alt='Học kỹ năng đa dạng')
							h4
								| Chọn kỹ năng
								br
								| bạn muốn học
							p
								| Công nghệ, kinh doanh, thiết kế – tất cả đều có tại KHT!
							picture
								source(media='(max-width: 1200px)' srcset='/assets/customs/img/finding-job/0-mobile.png?v=2')
								img.image-main(src='/assets/customs/img/finding-job/0.png?v=2' alt='Học kỹ năng đa dạng')
					.container-pillars__box.card-black.flex(data-aos='fade-up' data-aos-duration='300' data-aos-delay='100')
						.container-pillars__box-left.container-pillars__box-left--middle.min-height
							img.svg-image(src='/assets/customs/img/big-box/2.svg' alt='Học kỹ năng đa dạng')
							h4
								| Thực hành qua
								br
								| dự án thực tế
							p
								| Học qua trải nghiệm thực tế, sẵn sàng ứng dụng vào công việc.
							picture
								source(media='(max-width: 1200px)' srcset='/assets/customs/img/finding-job/1-mobile.png?v=2')
								img.image-main(src='/assets/customs/img/finding-job/1.png?v=2' alt='Học kỹ năng đa dạng')
							picture
								source(media='(max-width: 1200px)' srcset='/assets/customs/img/finding-job/1-2en-mobile.png?v=2')
								img.image-floating(src='/assets/customs/img/finding-job/1-2en.png?v=2' alt='Học kỹ năng đa dạng')
					.container-pillars__box.card-black.flex(data-aos='fade-up' data-aos-duration='300' data-aos-delay='150')
						.container-pillars__box-left.container-pillars__box-left--right.min-height
							img.svg-image(src='/assets/customs/img/big-box/3.svg' alt='Học kỹ năng đa dạng')
							h4
								| Nhận phản hồi
								br
								| từ chuyên gia
							p
								| Chuyên gia sẽ giúp bạn cải thiện kỹ năng nhanh chóng.
							picture
								source(media='(max-width: 1200px)' src='/assets/customs/img/finding-job/2-mobile.png?v=2')
								img.image-main(src='/assets/customs/img/finding-job/2.png?v=2' alt='Học kỹ năng đa dạng')
							picture
								source(media='(max-width: 1200px)' src='/assets/customs/img/finding-job/2-2-mobile.png?v=2')
								img.image-floating(src='/assets/customs/img/finding-job/2-2.png?v=2' alt='Học kỹ năng đa dạng')
				.container-pillars__box.card-black.flex.container-pillars__big-box(data-aos='fade-up' data-aos-duration='300' data-aos-delay='150')
					.container-pillars__box-left.container-pillars__box-left--right.min-height
						img.svg-image(src='/assets/customs/img/big-box/3.svg' alt='Học kỹ năng đa dạng')
						h4
							| Xây dựng portfolio
							br
							| và đạt mục tiêu
						p
							| Portfolio tự động, sẵn sàng gây ấn tượng với nhà tuyển dụng.
						a.mt-24.button(href='/assets/customs/img/header-pricing/CV.pdf' target='_blank') Xem portfolio mẫu
						picture
							source(media='(max-width: 1200px)' src='/assets/customs/img/finding-job/big-1-mobile.png?v=3')
							img.image-big-1(src='/assets/customs/img/finding-job/big1.png?v=3' alt='Học kỹ năng đa dạng')
						picture
							source(media='(max-width: 1200px)' src='/assets/customs/img/finding-job/big-2-mobile.png?v=3')
							img.image-big-2(src='/assets/customs/img/finding-job/big2.png?v=3' alt='Học kỹ năng đa dạng')
						picture
							source(src='https://invo.academy//assets/customs/img/finding-job/big-3.png?v=3')
							img.image-big-3(src='/assets/customs/img/finding-job/big3.png?v=3' alt='Học kỹ năng đa dạng')
	section#real-projects.real-projects
		.real-projects__container.real-proj-EN.flex
			.real-projects__container-title.top-title.flex
				h2
					| Học qua dự án thực tế
					br
					| ở mọi lĩnh vực
				p
					| Chúng tôi thiết kế lộ trình học tập rõ ràng để bạn thành thạo kỹ năng qua các dự án thực tế.
			.colorful-container.real-projects__container-raising-qualifications
				picture
					source(srcset='/assets/customs/img/big-box/background-two.webp?v=2' type='image/webp')
					source(srcset='/assets/customs/img/big-box/background-two.png?v=2' type='image/png')
					img.image-background(src='/assets/customs/img/big-box/background-two.png?v=2' alt='Học kỹ năng đa dạng')
				picture
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/codweb.webp?v=2' type='image/webp')
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/cod1.png?v=2' type='image/png')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/cod-mobile2.webp?v=2' type='image/webp')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/cod-mobile2.png?v=2' type='image/png')
					img.main-photos(src='/assets/customs/img/big-box/cod1.png?v=2' data-aos='fade-left' data-aos-duration='300' data-aos-delay='100' alt='Học kỹ năng đa dạng')
				.content.big-box-content(data-aos='fade-right' data-aos-duration='300' data-aos-delay='')
					img.img-up.svg-image(src='/assets/customs/img/big-box/four-square.svg' alt='Học kỹ năng đa dạng')
					h4
						| Chọn kỹ năng,
						br
						| bắt đầu ngay
					p
						| Mỗi dự án được thiết kế để giúp bạn thành thạo kỹ năng trong lĩnh vực bạn chọn.
					.big-box-content-button-groups
						a.button.button-brown.button-font(href='learning-paths/index.htm') Khám phá lộ trình học tập
						a.button.button-brown.button-font.button--transparent(href='learning-paths/index.htm#learning-video' target='_blank')
							| Xem video
							img.play(src='/assets/customs/img/big-box/play.svg')
			.real-projects__container-information
				.information.information-left.flex
					.information-box.card-black(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
						picture
							source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/contents1.webp?v=2' type='image/webp')
							source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/contents-mobile2.webp?v=2' type='image/webp')
							source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/contents1.png?v=2' type='image/png')
							source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/contents-mobile2.png?v=2' type='image/png')
							img.content-image(src='/assets/customs/img/big-box/contents1.png?v=2' alt='Học kỹ năng đa dạng')
						img.img-up.svg-image(src='/assets/customs/img/big-box/folder.svg' alt='Học kỹ năng đa dạng')
						h4 Thực hành dự án thực tế
						p
							| Học qua các dự án thực tế, sẵn sàng ứng dụng vào công việc.
					.information-box.card-black(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
						picture
							source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/ranking1.webp?v=2' type='image/webp')
							source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/ranking-mobile2.webp?v=2' type='image/webp')
							source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/ranking1.png?v=2' type='image/png')
							source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/ranking-mobile2.png?v=2' type='image/png')
							img.ranking(src='/assets/customs/img/big-box/ranking1.png?v=2' alt='Học kỹ năng đa dạng')
						img.img-up.svg-image(src='/assets/customs/img/big-box/order.svg' alt='Học kỹ năng đa dạng')
						h4
							| Hỗ trợ từ cộng đồng
						p
							| Hỏi đáp nhanh với bạn bè và chuyên gia trong cộng đồng.
				.information-box.card-black.information-right(data-aos='fade-up' data-aos-duration='300' data-aos-delay='150')
					picture
						source(media='(min-width: 801px)' srcset='/assets/customs/img/community/feedback.webp?v=2' type='image/webp')
						source(media='(max-width: 800px)' srcset='/assets/customs/img/community/feedback-mobile.webp?v=2' type='image/webp')
						source(media='(min-width: 801px)' srcset='/assets/customs/img/community/feedback.png?v=2' type='image/png')
						source(media='(max-width: 800px)' srcset='/assets/customs/img/community/feedback-mobile.png?v=2' type='image/png')
						img.feedback(src='/assets/customs/img/community/feedback.png?v=2' alt='Học kỹ năng đa dạng')
					img.img-up.svg-image(src='/assets/customs/img/big-box/data.svg' alt='Học kỹ năng đa dạng')
					h4 Tài liệu từ chuyên gia hàng đầu
	section.your-learning
		.gradient-empty
		.your-learning__title
			h2 Khám phá kỹ năng bạn yêu thích
		.your-learning__container.learningL
			.your-learning__container-wrapper.swiper-wrapper
				a.your-learning__container-slide.swiper-slide(href='https://kht.viebal.top/paths/oeyuhZegnJMSaitvYmq5' target='_blank')
					picture
						source(srcset='/assets/customs/img/swiper2/slide1.webp?v=2' type='image/webp')
						source(srcset='/assets/customs/img/swiper2/slide1.png?v=2' type='image/png')
						img.img-slide(src='/assets/customs/img/swiper2/slide1.png?v=2' alt='Học kỹ năng đa dạng')
					span Lập trình: Xây ứng dụng Spotify
				a.your-learning__container-slide.swiper-slide(href='https://kht.viebal.top/paths/YMINoABoBytAnSzkOEta' target='_blank')
					picture
						source(srcset='/assets/customs/img/swiper2/slide2.webp?v=2' type='image/webp')
						source(srcset='/assets/customs/img/swiper2/slide2.png?v=2' type='image/png')
						img.img-slide(src='/assets/customs/img/swiper2/slide2.png?v=2' alt='Học kỹ năng đa dạng')
					span Thiết kế: Tạo giao diện Netflix
			.swiper-button-next
				img.next(src='/assets/customs/img/swiper2/next.png?v=2')
			.swiper-button-prev
				img.prev(src='/assets/customs/img/swiper2/next.png?v=2')
	section#code-review.code-review
		.code-review__container.flex
			.code-review__container-title.top-title.code-review--title.flex(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
				h2
					| Học với sự hỗ trợ từ&nbsp;
					span chuyên gia
				p
					| Nhận phản hồi chi tiết từ các chuyên gia để cải thiện kỹ năng nhanh chóng và hiệu quả.
			.colorful-container.code-review__container-raising-qualifications.code-review--boxB
				picture
					source(srcset='/assets/customs/img/big-box/background-three.webp?v=2' type='image/webp')
					source(srcset='/assets/customs/img/big-box/background-three.png?v=2' type='image/png')
					img.image-background(src='/assets/customs/img/big-box/background-three.png?v=2' alt='Học kỹ năng đa dạng')
				picture
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/lernweb.webp?v=2' type='image/webp')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/lern-mobile2.webp?v=2' type='image/webp')
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/lern.png?v=2' type='image/png')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/lern-mobile2.png?v=2' type='image/png')
					img.main-photos(src='/assets/customs/img/big-box/lern.png?v=2' data-aos='fade-right' data-aos-duration='300' data-aos-delay='' alt='Học kỹ năng đa dạng')
				.content.big-box-content(data-aos='fade-left' data-aos-duration='300' data-aos-delay='')
					img.img-up.svg-image(src='/assets/customs/img/big-box/lern.svg' alt='Học kỹ năng đa dạng')
					h4 Phản hồi từ chuyên gia
					p
						| Chuyên gia sẽ hướng dẫn bạn từng bước để hoàn thiện kỹ năng.
			.code-review__container-pillars-of-academy
				.pillars-of-academy__box.card-black.left-box(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
					img.img-up.svg-image(src='/assets/customs/img/big-box/project.svg' alt='Học kỹ năng đa dạng')
					h4
						| Nhận phản hồi
						br
						| cho từng dự án
					p
						| Chuyên gia sẽ đánh giá và giúp bạn cải thiện từng dự án.
				.pillars-of-academy__box.card-black.right-box(data-aos='fade-up' data-aos-duration='300' data-aos-delay='100')
					picture
						source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/instru1.webp?v=2' type='image/webp')
						source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/instru-mobile2.webp?v=2' type='image/webp')
						source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/instru1.png?v=2' type='image/png')
						source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/instru-mobile2.png?v=2' type='image/png')
						img.image-instruction(src='/assets/customs/img/big-box/instru1.png?v=2' alt='Học kỹ năng đa dạng')
					img.img-up.svg-image(src='/assets/customs/img/big-box/rev.svg' alt='Học kỹ năng đa dạng')
					h4 Cải thiện và hoàn thiện dự án
					p Áp dụng phản hồi để nâng cao kỹ năng và hoàn thiện dự án.
					a.mt-24.button.button-font(href='/assets/customs/img/code-review.pdf' target='_blank')
						span
							| Xem quy trình hướng dẫn
							span
	section#practical-experience.practical-experience
		.practical-experience__container.flex
			.practical-experience__container-title.top-title.flex.practical-experience_title--width(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
				img.image-arrow(src='/assets/customs/img/big-box/arrow.svg' alt='Học kỹ năng đa dạng')
				h2
					| Thể hiện kỹ năng qua&nbsp;
					span portfolio ấn tượng
				p
					| Tự hào khoe thành quả của bạn và chinh phục nhà tuyển dụng với portfolio chuyên nghiệp!
			.colorful-container.practical-experience__container-raising-qualifications
				picture
					source(srcset='/assets/customs/img/big-box/circles.webp?v=2' type='image/webp')
					source(srcset='/assets/customs/img/big-box/circles.png?v=2' type='image/png')
					img.image-background(src='/assets/customs/img/big-box/circles.png?v=2' alt='Học kỹ năng đa dạng')
				picture
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/portfolio1.webp?v=3' type='image/webp')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/porfolio-mobile2.webp?v=2' type='image/webp')
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/portfolio1.png?v=3' type='image/png')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/porfolio-mobile2.png?v=2' type='image/png')
					img.main-photos(src='/assets/customs/img/big-box/portfolio1.png?v=3' data-aos='fade-right' data-aos-duration='300' data-aos-delay='' alt='Học kỹ năng đa dạng')
				picture
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/preview1.webp?v=2' type='image/webp')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/preview-mobile2.webp?v=2' type='image/webp')
					source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/preview1.png?v=2' type='image/png')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/preview-mobile2.png?v=2' type='image/png')
					img.main-photos-top(src='/assets/customs/img/big-box/preview1.png?v=2' data-aos='fade-up' data-aos-duration='300' data-aos-delay='100' alt='Học kỹ năng đa dạng')
				.content.big-box-content(data-aos='fade-left' data-aos-duration='300' data-aos-delay='150')
					img.img-up.svg-image(src='/assets/customs/img/big-box/bag.svg' alt='Học kỹ năng đa dạng')
					h4
						| Chia sẻ thành quả
						br
						| tốt nhất của bạn
					p
						| Gây ấn tượng với nhà tuyển dụng hoặc khách hàng bằng các dự án thực tế.
			.practical-experience__container-pillars-of-academy
				.pillars-of-academy__box.card-black.left-box(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
					img.img-up.svg-image(src='/assets/customs/img/big-box/paper.svg' alt='Học kỹ năng đa dạng')
					h4 Portfolio tự động
					p
						| Các dự án hoàn thành sẽ tự động được thêm vào portfolio của bạn.
				.pillars-of-academy__box.card-black.right-box.practical-experience_boxSR--height(data-aos='fade-up' data-aos-duration='300' data-aos-delay='100')
					picture
						source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/statistic-expi1.webp?v=2' type='image/webp')
						source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/statistic-expi-mobile2.webp?v=2' type='image/webp')
						source(media='(min-width: 801px)' srcset='/assets/customs/img/big-box/statistic-expi1.png?v=2' type='image/png')
						source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/statistic-expi-mobile2.png?v=2' type='image/png')
						img.image-instruction(src='/assets/customs/img/big-box/statistic-expi1.png?v=2' alt='Học kỹ năng đa dạng')
					img.img-up.svg-image(src='/assets/customs/img/big-box/sum-col.svg' alt='Học kỹ năng đa dạng')
					h4 Tóm tắt thành tích
					p
						| Thống kê, dự án nổi bật – tất cả trong một nơi để bạn dễ dàng chia sẻ.
	section.best-community
		.best-community__container.flex
			.best-community__container-title.flex(data-aos='fade-up' data-aos-duration='300' data-aos-delay='150')
				h2 Cộng đồng học tập đa lĩnh vực
				p
					| Kết nối, chia sẻ kinh nghiệm và tìm kiếm cơ hội trong mọi ngành nghề.
			.best-community__container-content.Community
				.swiper-wrapper
					.box-community.swiper-slide(data-aos='fade-up' data-aos-duration='400' data-aos-delay='50')
						img.image-swiper(src='/assets/customs/img/big-box/swiper5x2.png?v=2')
						.category
							img(src='/assets/customs/img/big-box/Ellipse.svg')
							span TRỰC TIẾP
						h4 Sự kiện với chuyên gia
						p
							| Hỏi đáp và học hỏi từ các chuyên gia hàng đầu.
					.box-community.swiper-slide(data-aos='fade-up' data-aos-duration='400' data-aos-delay='100')
						img.image-swiper(src='/assets/customs/img/big-box/swiper2x2.png?v=2')
						.category
							img(src='/assets/customs/img/big-box/book.svg')
							span KIẾN THỨC
						h4 Cơ sở kiến thức đa dạng
						p
							| Tài liệu từ nhiều lĩnh vực, sẵn sàng để bạn học.
					.box-community.swiper-slide(data-aos='fade-up' data-aos-duration='400' data-aos-delay='150')
						img.image-swiper(src='/assets/customs/img/big-box/swiper3x2.png?v=2')
						.category
							img(src='/assets/customs/img/big-box/people.svg')
							span CỘNG ĐỒNG
						h4 Cộng đồng năng động
						p
							| Kết nối và chia sẻ kinh nghiệm với mọi người.
					.box-community.swiper-slide(data-aos='fade-up' data-aos-duration='400' data-aos-delay='200')
						img.image-swiper(src='/assets/customs/img/big-box/swiper4x2.png?v=2')
						.category
							img(src='/assets/customs/img/big-box/profile-2user.svg')
							span SỰ NGHIỆP
						h4 Hỗ trợ phát triển sự nghiệp
						p
							| Mẹo tìm việc và cơ hội phát triển trong mọi ngành.
				.swiper-scrollbar
			a.button-blue.button-font(href='community/index.htm') Tham gia cộng đồng
	section#how-it-works.have-prepared
		.have-prepared__container.flex
			.have-prepared__container-title.flex(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
				h2
					| Còn nhiều điều thú vị nữa!
					br
					| Khám phá thêm
			.have-prepared__container-content.have-prepared__container--eng
				.container-left.container-position--box
					.container-left__top.card-black.card-black__center(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
						img.svg-last-section(src='/assets/customs/img/big-box/people2.svg' alt='Học kỹ năng đa dạng')
						h4
							| Kinh nghiệm từ chuyên gia
							br
							| đa lĩnh vực
						p
							| Chúng tôi mang đến các phương pháp tốt nhất từ nhiều ngành nghề để bạn học hỏi.
					.container-left__bottom.card-black(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
						picture.picture-order
							source(srcset='/assets/customs/img/big-box/advice2.webp?v=2' type='image/webp')
							source(srcset='/assets/customs/img/big-box/advice2.png?v=2' type='image/png')
							img.advice-img(src='/assets/customs/img/big-box/advice2.png?v=2' alt='Học kỹ năng đa dạng')
						.description
							img.svg-last-section(src='/assets/customs/img/big-box/sheet.svg' alt='Học kỹ năng đa dạng')
							h4
								| Mẹo phát triển sự nghiệp
							p
								| Nhận lời khuyên từ chuyên gia để xây dựng sự nghiệp thành công.
						picture
							source(srcset='/assets/customs/img/big-box/gradientlbw.webp?v=2' type='image/webp')
							source(srcset='/assets/customs/img/big-box/gradientLB1.png?v=2' type='image/png')
							img.gradient-lb(src='/assets/customs/img/big-box/gradientLB1.png?v=2' alt='Học kỹ năng đa dạng')
				.container-middle.container-position--box.have-prepared--width
					.container-middle__top.card-black.card-black__center(data-aos='fade-up' data-aos-duration='300' data-aos-delay='100')
						img.svg-last-section(src='/assets/customs/img/big-box/king.svg' alt='Học kỹ năng đa dạng')
						h4
							| Thu hút cơ hội
							br
							| nghề nghiệp
						p
							| Thêm kỹ năng và để nhà tuyển dụng tìm thấy bạn.
					.container-middle__mid.card-black(data-aos='fade-up' data-aos-duration='300' data-aos-delay='100')
						.description
							img.svg-last-section(src='/assets/customs/img/big-box/file.svg' alt='Học kỹ năng đa dạng')
							h4
								| Resume chuyên nghiệp
							p Tạo resume ấn tượng với các bước đơn giản.
						.container-mute
							picture
								source(srcset='/assets/customs/img/big-box/mute1.webp?v=2' type='image/webp')
								source(srcset='/assets/customs/img/big-box/mute1.png?v=2' type='image/png')
								img.mute-img(src='/assets/customs/img/big-box/mute1.png?v=2' alt='Học kỹ năng đa dạng')
					a.container-middle__bottom-bc(routerLink='/sign-up')
						.container-middle__bottom.card-black.card-black__center(data-aos='fade-up' data-aos-duration='300' data-aos-delay='100')
							img.svg-last-section(src='/assets/customs/img/big-box/book2.svg' alt='Học kỹ năng đa dạng')
							div
								h4 Tham gia KHT - Khoá học tốt
								img.svg-turn(src='/assets/customs/img/big-box/turn-r.svg' alt='Học kỹ năng đa dạng')
				.container-right.container-position--box
					.container-right__top.card-black.card-black__center(data-aos='fade-up' data-aos-duration='300' data-aos-delay='200')
						img.svg-last-section(src='/assets/customs/img/big-box/eye.svg' alt='Học kỹ năng đa dạng')
						h4 Theo dõi tiến độ học tập
						p
							| Xem tiến độ của bạn và cải thiện mỗi ngày.
						picture
							source(srcset='/assets/customs/img/big-box/folder.webp?v=2' type='image/webp')
							source(srcset='/assets/customs/img/big-box/folder1.png?v=2' type='image/png')
							img.folder-img(src='/assets/customs/img/big-box/folder1.png?v=2' alt='Học kỹ năng đa dạng')
						picture
							source(srcset='/assets/customs/img/big-box/gradientpt.webp?v=2' type='image/webp')
							source(srcset='/assets/customs/img/big-box/gradientPT.png?v=2' type='image/png')
							img.gradient-rt(src='/assets/customs/img/big-box/gradientPT.png?v=2' alt='Học kỹ năng đa dạng')
					.container-right__bottom.card-black(data-aos='fade-up' data-aos-duration='300' data-aos-delay='200')
						img.svg-last-section(src='/assets/customs/img/big-box/chain.svg' alt='Học kỹ năng đa dạng')
						h4
							| Cơ hội tại KHT
							br
							| cho học viên xuất sắc
						p
							| Cơ hội phát triển sự nghiệp cho những học viên nổi bật.
						picture.gradient-rb
							source(src='/assets/customs/img/big-box/the-best.webp?v=2' type='image/webp')
							img(src='/assets/customs/img/big-box/the-best.png?v=2' alt='Học kỹ năng đa dạng')
							.gradient-rb--bg
			.have-prepared__container-big-box.card-black(data-aos='fade-up' data-aos-duration='300' data-aos-delay='')
				picture
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/meetups-mobile.webp?v=2' type='image/webp')
					source(media='(max-width: 800px)' srcset='/assets/customs/img/big-box/meetups-mobile.png?v=2' type='image/png')
					source(srcset='/assets/customs/img/big-box/meetups.webp?v=2' type='image/webp')
					img.events-img(src='/assets/customs/img/big-box/meetups.png?v=2' alt='Học kỹ năng đa dạng')
				.big-box__content
					img.svg-last-section(src='/assets/customs/img/big-box/calendar.svg' alt='Học kỹ năng đa dạng')
					h4
						| Sự kiện với chuyên gia
					p
						| Tham gia sự kiện, học hỏi từ các chuyên gia hàng đầu!
	footer
		.footer-container.footer-direction
			img.logo-top(src='/assets/images/logos/logo-horizontal.png' alt='Học kỹ năng đa dạng')
			.footer-container__content
				.footer-container__content-box.footer-direction
					.category.small-font
						| HỌC VIỆN
						img.turn-down(src='/assets/customs/img/footer/turn-down.svg' alt='Xem thêm')
					.description
						a(href='pricing/index.htm') Bảng giá
						a(href='https://intercom.help/invo-academy/pl/', target='_blank') Câu hỏi thường gặp
						a(href='invo-academy-vs-frontend-mentor/index.htm', target='_blank') KHT vs Các nền tảng khác
				.small-dash
				.footer-container__content-box.footer-direction
					.category.small-font
						| NỀN TẢNG
						img.turn-down(src='/assets/customs/img/footer/turn-down.svg' alt='Xem thêm')
					.description
						a(href='index.htm#three-pillars') Cách học hiệu quả
						a(href='index.htm#home-video') Phương pháp của chúng tôi
						a(routerLink='/challenges') Dự án thực hành
				.small-dash
				.footer-container__content-box.footer-direction
					.category.small-font
						| CHỨC NĂNG
						img.turn-down(src='/assets/customs/img/footer/turn-down.svg' alt='Xem thêm')
					.description
						a(href='index.htm#real-projects') Thực hành dự án
						a(href='index.htm#code-review') Nhận phản hồi
						a(href='index.htm#practical-experience') Xây dựng portfolio
				.small-dash
				.footer-container__content-box.footer-direction
					.category.small-font
						| CỘNG ĐỒNG
						img.turn-down(src='/assets/customs/img/footer/turn-down.svg' alt='Xem thêm')
					.description
						a(routerLink='/community') Cộng đồng
						a(href='https://www.facebook.com/' target='_blank') Nhóm Facebook
						a(href='https://www.facebook.com/' target='_blank') Hướng dẫn
				.small-dash
				.footer-container__content-box.footer-direction
					.category.small-font
						| VỀ CHÚNG TÔI
						img.turn-down(src='/assets/customs/img/footer/turn-down.svg' alt='Xem thêm')
					.description
						a(routerLink='/contact') Liên hệ
						a(routerLink='/about-us') Sứ mệnh của chúng tôi
						a(routerLink='/about-us') KHT Khoá học tốt
			.footer-container__content-contact
				.contact-social
					.contact-social__email
						img.sms(src='/assets/customs/img/footer/sms.svg' alt='Xem thêm')
						a(href='cdn-cgi/l/email-protection.html')
							span.__cf_email__(type='email', href='mailto:viebalmail@gmail.com') [viebalmail&#64;gmail.com]
					.contact-social__portal
						a(href='https://www.facebook.com' target='_blank')
							svg.svg-portal.hover-svg(viewbox='0 0 8 17' fill='red' xmlns='http://www.w3.org/2000/svg')
								path(d='M6.53946 2.82271H8V0.119708C7.74802 0.082875 6.88143 0 5.87218 0C3.76635 0 2.32381 1.40746 2.32381\
								3.99429V6.375H0V9.39675H2.32381V17H5.1729V9.39746H7.40272L7.75669 6.37571H5.17224V4.29392C5.1729 3.42054\
								5.39422 2.82271 6.53946 2.82271Z' fill='#EEEFF5')
						a(href='https://www.linkedin.com' target='_blank')
							svg.svg-link.hover-svg(viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M15.9959 15.9998V15.9991H15.9998V10.1048C15.9998 7.22125 15.4022 5 12.1568 5C10.5967 5 9.54967 5.88931 9.12224 6.7324H9.07711V5.2692H6V15.9991H9.20412V10.6861C9.20412 9.28715 9.45942 7.93444 11.1272 7.93444C12.7706 7.93444 12.795 9.5309 12.795 10.7758V15.9998H15.9959Z' fill='#EEEFF5')
								path(d='M0 5H3.99992V15.9998H0L0 5Z' fill='#EEEFF5')
								path(d='M1.99996 0C0.895889 0 0 0.891712 0 1.99064C0 3.08956 0.895889 3.99992 1.99996 3.99992C3.10404 3.99992 3.99992 3.08956 3.99992 1.99064C3.99923 0.891712 3.10334 0 1.99996 0Z' fill='#EEEFF5')
				.contact-data
					.contact-data__address
						.contact-data__address-logo
							img.location(src='/assets/customs/img/footer/location.svg')
							img.location(src='/assets/images/logos/logo.png')
						.contact-data__address-adders
							span.small-font Thành Phố Thủ Đức, Hồ Chí Minh
					.contact-data__information.small-font
						| Sản phẩm được tài trợ và phát triển bởi&nbsp;
						a(href='https://viebal.top/') Viebal
			.footer-container__line
			.footer-container__bottom
				span.copyright.small-font © KHT - Khoá học tốt 2025 — Đã đăng ký bản quyền.
				.footer-container__bottom-political
					a.small-font(href='https://classy-hedgehog-bb8.notion.site/INVO-Academy-terms-d1a565036ca944feb221956c683f658e', target='_blank') Điều khoản và điều kiện
					a.small-font(href='https://classy-hedgehog-bb8.notion.site/Privacy-Policy-b72b7f2b03724b2a94ec9498aab63c88', target='_blank') Chính sách bảo mật
					a.small-font(href='https://classy-hedgehog-bb8.notion.site/Terms-of-using-INVO-Academy-projects-license-c600ac8e70334fb0ba53ae9bb5f36d30', target='_blank') Giấy phép dự án
